body {
  margin: 0;
  padding: 0;
}
.h-100-vh{
  height: 100vh !important;
}
.h-35-vh{
  height: 35vh !important;
}
.number-control{
  width: 80px !important;
  border-radius: 2px;
  border: none;
  padding: 5px;
  margin-left: 15px;
}
